<div class='header row'>
	<div class='xs-sm-12 text-right'>
		<a class='btn btn-primary' ng-click="logout()">Log out of {{user_email}}</a>
	</div>
</div>
<div class='row'>
	<div class="col-sm-12">
		<h2>Choose a Conference</h2>
	</div>
</div>
<div class='conf_select row' ng-repeat='(key, conference) in conferences' ng-click='openConference(conference, key)' class="clickable_row row">
	<div class='col-sm-10'>
		<h3>
			{{conference.name || key}}
		</h3>
	</div>
	<div class='col-sm-2'>
		<img ng-src='{{conference.primaryIcon.uri}}' />
	</div>
</div>
<div class='warning row' ng-show="!conferences">
	<div class='col-sm-12'>
		No conferences available for this account. Please contact <a href='mailto:swloney@gmail.com'>swloney@gmail.com</a> if this is not expected.
	</div>
</div>