<div class='header row'>
	<div class='xs-sm-12 text-right'>
		<a class='btn btn-primary' ng-click='logout()'>Log out of {{user_email}}</a>
	</div>
</div>
<div class='row'>
	<div class="col-md-6">
		<h2>Conference Information</h2>
		<p class="description">
		Basic information about the conference. The conference location is used to determine its time zone so be sure to set it.
		</p>
        <div class='form-group'>
            <label for='conference_name'>Conference Name: </label>
			<a href="javascript:void(0)" editable-text="conference.name">{{ conference.name || 'e.g. CHI 2016' }}</a>
        </div>
        <div class='form-group'>
            <label for='conference_location'>Conference Location: </label>
			<a href="javascript:void(0)" editable-text="conference.location">{{ conference.location || 'e.g. Ann Arbor, MI' }}</a>
        </div>
		<div class='form-group'>
            <label for='conference_tz'>Time Zone: </label>
			<span ng-if='conference.timeZone' class='conference_tz'>{{conference.timeZone}}</span>
			<span ng-if='timeZoneError' class='error conference_tz'>{{timeZoneError}}</span>
		</div>
        <div class='form-group'>
            <label for='conference_description'>Conference Description: </label>
			<a href="javascript:void(0)" editable-text="conference.description">{{ conference.description || 'e.g. The ACM Conference on Human Factors in Computing Systems' }}</a>
        </div>
	</div>
	<div class="col-md-6">
		<h2>Icons</h2>
		<p class="description">
		These icons will be used as the app icons.
		</p>
		<table id="icons">
			<thead>
				<tr>
					<th>Type</th>
					<th>Icon</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Primary Icon</td>
					<td>
						<img style='max-width: 100%; max-height: 200px;' ng-src='{{conference.primaryIcon.uri}}' />
						<div class="btn btn-xs btn-success btn-block" ngf-select="uploadIcon($files)">
							<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
							Upload Icon
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class='row'>
	<div class="col-sm-6">
		<h2>Source Data</h2>
		<p class="description">
			Can be CSV, Excel, or JSON files. You can download sample files at <a href='http://conf-app.com/sample_data.zip'>http://conf-app.com/sample_data.zip</a>
		</p>
		<table id="uploadedFiles">
			<thead>
				<tr>
					<th>Filename</th>
					<th>Updated</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='(key, dataFile) in dataFiles'>
					<td>
						<a ng-href='{{dataFile.uri}}' target='_blank'>{{dataFile.name}}</a>
					</td>
					<td>
						<span am-time-ago="dataFile.updated"></span>
					</td>
					<td>
						<a class='btn btn-xs btn-danger' href='javascript:void(0)' ng-click='removeDataFile(dataFile, key)'>
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							Delete
						</a>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td id = "dataUpload" colspan="3">
						<div class="btn btn-xs btn-success btn-block" ngf-select="uploadData($files)">
							<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
							Upload Data File
						</div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<div class="col-sm-6">
		<h2>Annotations</h2>
		<p class="description">
			These annotations are extra data that can be attached to a paper, such as best paper awards. The identifier is what appears in the "annotations" column for papers. For example, a best paper award might have identifier="best", type="award", description="Best Paper", and the icon for a best paper award.
		</p>
		<table id="annotations">
			<thead>
				<tr>
					<th>Identifier (in source data)</th>
					<th>Type</th>
					<th>Description</th>
					<th>Icon</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='(key, annotationType) in annotationTypes'>
					<td>
						<a href="javascript:void(0)" editable-text="annotationType.id">{{ annotationType.id || 'ID' }}</a>
					</td>
					<td>
						<a href="javascript:void(0)" editable-text="annotationType.type">{{ annotationType.type || 'Type' }}</a>
					</td>
					<td>
						<a href="javascript:void(0)" editable-text="annotationType.description">{{ annotationType.description || 'Description' }}</a>
					</td>
					<td style='text-align: center'>
						<img ng-if='annotationType.icon' ng-src='{{annotationType.icon.uri}}' />
						<div class="btn btn-xs btn-primary btn-block" ngf-select="changeAnnotationImage($files, annotationType, key)">
							<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
							Icon
						</div>
					</td>
					<td>
						<a class='btn btn-xs btn-danger' href='javascript:void(0)' ng-click='removeAnnotationType(annotationType, key)'>
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							Delete
						</a>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<form>
						<td><input ng-model='new_annotation_id' type='text' placeholder='ID' /></td>
						<td><input ng-model='new_annotation_type' type='text' placeholder='Type' /></td>
						<td><input ng-model='new_annotation_description' type='text' placeholder='Description' /></td>
						<td>
							<img style='max-width: 100%; max-height: 200px;' ng-if='new_annotation_icon' ng-src='{{new_annotation_icon.uri}}' />
							<div class="btn btn-xs btn-primary btn-block" ngf-select="changeNewAnnotationImage($files)">
								<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
								Icon
							</div>
						</td>
						<td>
							<button type='submit' class='btn btn-xs btn-success' ng-click='addAnnotationType(new_annotation_id, new_annotation_type, new_annotation_description, new_annotation_icon)'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Annotation</button>
						</td>
					</form>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<div class='row' id='types'>
	<div class="col-lg-6">
		<h2>Session Types</h2>
		<p class="description">
			Session types contain information about different types of sessions. "Demonym" means the word to call something that belongs to that session. For example, for a "papers" session, the event demonym will be "Papers" and the person demonym will be "Chair". For a course, the event demonym might be "Class" (or blank) and the person demonym will be "Instructor".
		</p>
		<table id="session_types">
			<thead>
				<tr>
					<th>Name (in source data)</th>
					<th>Event Demonym</th>
					<th>Person Demonym</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='(key, sessionType) in sessionTypes'>
					<td>
						<a href="javascript:void(0)" editable-text="sessionType.name">{{ sessionType.name || 'Name' }}</a>
					</td>
					<td>
						<a href="javascript:void(0)" editable-text="sessionType.eventDemonym">{{ sessionType.eventDemonym || '(event demonym)' }}</a>
					</td>
					<td>
						<a href="javascript:void(0)" editable-text="sessionType.personDemonym">{{ sessionType.personDemonym || '(person demonym)' }}</a>
					</td>
					<td>
						<a class='btn btn-xs btn-danger' href='javascript:void(0)' ng-click='removeSessionType(sessionType, key)'>
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							Delete
						</a>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<form>
						<td><input ng-model='new_session_type_name' type='text' placeholder='Name' /></td>
						<td><input ng-model='new_session_type_event_demonym' type='text' placeholder='Event Demonym' /></td>
						<td><input ng-model='new_session_type_person_demonym' type='text' placeholder='Person Demonym' /></td>
						<td>
							<button type='submit' class='btn btn-xs btn-success' ng-click='addSessionType(new_session_type_name, new_session_type_event_demonym, new_session_type_person_demonym)'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Session Type</button>
						</td>
					</form>
				</tr>
			</tfoot>
		</table>
	</div>
	<div class="col-lg-6">
		<h2>Presentation Types</h2>
		<p class="description">
			Similar to the session types, but also contain a duration for different types of presentations. For example, notes might have a shorter duration than papers.
		</p>
		<table id="presentation_types">
			<thead>
				<tr>
					<th>Name (in source data)</th>
					<th>Presentation Duration (in minutes or blank for full session)</th>
					<th>Person Demonym</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='(key, presentationType) in presentationTypes'>
					<td>
						<a href="javascript:void(0)" editable-text="presentationType.name">{{ presentationType.name || 'Name' }}</a>
					</td>
					<td>
						<a href="javascript:void(0)" editable-text="presentationType.duration">{{ presentationType.duration || '(full session)' }}</a>
					</td>
					<td>
						<a href="javascript:void(0)" editable-text="presentationType.personDemonym">{{ presentationType.personDemonym || '(person demonym)' }}</a>
					</td>
					<td>
						<a class='btn btn-xs btn-danger' href='javascript:void(0)' ng-click='removePresentationType(presentationType, key)'>
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							Delete
						</a>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<form>
						<td><input ng-model='new_presentation_type_name' type='text' placeholder='Name' /></td>
						<td><input ng-model='new_presentation_type_duration' type='text' placeholder='Duration' /></td>
						<td><input ng-model='new_presentation_type_person_demonym' type='text' placeholder='Person Demonym' /></td>
						<td>
							<button type='submit' class='btn btn-xs btn-success' ng-click='addPresentationType(new_presentation_type_name, new_presentation_type_duration, new_presentation_type_person_demonym)'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Presentation Type</button>
						</td>
					</form>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<div class='row' id='locations'>
	<div class="col-sm-6">
		<h2>Maps</h2>
		<p class="description">
			The layout of the conference venue; can be any number of images (for example, one image per floor).
		</p>
		<div id='uploadedMaps'>
			<div ng-repeat='(key, map) in maps'>
				<div class='row'>
					<div class = 'col-sm-5'>
						<label>ID:</label>
						<a href="javascript:void(0)" editable-text="map.id">{{ map.id || 'Map ID' }}</a>
					</div>
					<div class = 'col-sm-5'>
						<label>Display Name:</label>
						<a href="javascript:void(0)" editable-text="map.name">{{ map.name || 'Map Name' }}</a>
					</div>
					<div class = 'col-sm-2'>
						<a class='btn btn-xs btn-danger' href='javascript:void(0)' ng-click='removeMap(map, key)'>
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							Delete
						</a>
					</div>
				</div>
				<div class='row' style='margin-bottom: 10px;'>
					<div class = 'col-sm-12' style='position: relative;'>
						<span ng-class='getMapMarkerClasses(location)' style='position: absolute;' class='locationMarker' ng-repeat='location in mapLocations[key]' data-pctX='{{location.pctX}}' data-pctY='{{location.pctY}}' ng-mouseenter='mouseEnterLocation(location)' ng-mouseleave='mouseLeaveLocation(location)'></span>
						<img ng-class='getMapClasses()' style='max-width: 100%; max-height: 400px;' ng-click='onClickMap(map, key, $event)' ng-if='map.image' ng-src='{{map.image.uri}}' />
						<div class="btn btn-xs btn-primary btn-block" ngf-select="changeMapImage($files, map, key)">
							<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
							Map
						</div>
					</div>
				</div>
				<hr />
			</div>
			<div class='row'>
				<div class = 'col-sm-4'>
					<input ng-model='new_map_id' type='text' placeholder='ID' />
				</div>
				<div class = 'col-sm-4'>
					<input ng-model='new_map_name' type='text' placeholder='Display Name' />
				</div>
				<div class = 'col-sm-2'>
					<img style='max-width: 100%; max-height: 200px;' ng-if='new_map_image' ng-src='{{new_map_image.uri}}' />
					<div class="btn btn-xs btn-primary btn-block" ngf-select="changeNewMapImage($files)">
						<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
						Map
					</div>
				</div>
				<div class = 'col-sm-2'>
					<button type='submit' class='btn btn-xs btn-success' ng-click='addMap(new_map_id, new_map_name, new_map_image)'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Map</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<h2>Locations</h2>
		<p class="description">
			The rooms that presentations might be in. To move a room, press "move" and then click on one of the maps.
		</p>
		<table id="mapLocations">
			<thead>
				<tr>
					<th>Identifier (in source data)</th>
					<th>Display Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-class='getLocationRowClasses(location)' ng-mouseenter='mouseEnterLocation(location)' ng-mouseleave='mouseLeaveLocation(location)' ng-repeat='(key, location) in locations'>
					<td>
						<a href="javascript:void(0)" editable-text="location.id">{{ location.id || 'ID' }}</a>
					</td>
					<td>
						<a href="javascript:void(0)" editable-text="location.name">{{ location.name || 'Display Name' }}</a>
					</td>
					<td>
						<a class='btn btn-xs btn-primary' href='javascript:void(0)' ng-click='moveLocation(location, key)'>
							Move
						</a>
						<a class='btn btn-xs btn-danger' href='javascript:void(0)' ng-click='removeLocation(location, key)'>
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							Delete
						</a>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<form>
						<td><input ng-model='new_location_id' type='text' placeholder='ID' /></td>
						<td><input ng-model='new_location_name' type='text' placeholder='Display Name' /></td>
						<td>
							<button type='submit' class='btn btn-xs btn-success' ng-click='addLocation(new_location_id, new_location_name)'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Location</button>
						</td>
					</form>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<div class='row'>
	<div class="col-sm-6">
		<h2>Program Options</h2>
		<p class="description">
			Program guide options (if in doubt, leave these all at the defaults)
		</p>
		<div class='row'>
			<div class='col-xs-4'>
				<label>
					<input ng-model='conference.hasSchedule' type="checkbox" />
					Conference Schedule
				</label>
			</div>
			<div class='col-xs-4'>
				<label>
					<input ng-model='conference.hasNotes' type="checkbox" />
					User Notes
				</label>
			</div>
			<div class='col-xs-4'>
				<label>
					<input ng-model='conference.hasReadingList' type="checkbox" />
					Reading Lists
				</label>
			</div>
		</div>
		<div class='row'>
			<div class='col-xs-4'>
				<label>
					<input ng-model='conference.hasDataSync' type="checkbox" />
					Data Sync
				</label>
			</div>
			<div class='col-xs-4'>
				<label>
					<input ng-model='conference.hasVoting' type="checkbox" />
					Best Talk Voting
				</label>
			</div>
			<div class='col-xs-4'>
				<a class='btn btn-xs btn-primary' href='javascript:void(0)' ng-click='restoreProgramOptionDefaults()'>Restore Defaults</a>
			</div>
		</div>
		<hr />
		<div class='row'>
			<div class='col-sm-12'>
				<label>
		            Web Program Base URL:
					<a href="javascript:void(0)" editable-text="conference.webBaseURL">{{ conference.webBaseURL || 'The URL where the Web program will be stored.' }}</a>
				</label>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class='error text-danger bg-danger' ng-if='error'>
			<h4>Source Data Error:</h4>
			{{error.message}}
		</div>
		<div class='warnings text-warning bg-warning' ng-if='warnings.length>0'>
			<h4>Source Data Warnings:</h4>
			<div ng-repeat='warning in warnings'>
				<strong>{{warning.filename}}</strong><span ng-if='warning.row'>, row {{warning.row}}</span>: {{warning.message}}
			</div>
		</div>
		<button class='btn btn-xl btn-primary btn-block' ng-disabled='currentlyGenerating' ng-click='generateDatabase()'>
			<h2>Generate Database</h2>
			<p>With the current source data</p>
		</button>
		<div ng-repeat='message in generatingInterimMessages'>
			{{message}}
		</div>
</div>
