body {
	background-color: #00274c;
	color: white;
}
a {
	color: #ffcb05;
}
.modal-dialog {
	color: black;
}
.clickable_row {
	color: #ffcb05;
	cursor: pointer;
}
.clickable_row:hover {
	background-color: #083256;
}
.error_row {
	color: #900;
	border-top: none;
}
h2, th {
	color: #587abc;
}
.table>tbody>tr>td,.table>tbody>tr>th {
	border-top: none;
}

.btn-link,.btn-link:hover {
	color: white;
}

input {
	background-color: #002a5b;
	color: #e5e5e5;
	border: 1px solid #e5e5e5;
	padding: 5px;
	border-radius:5px;
}