<div class="modal-header">
	<button type="button" class="close" ng-click='dismiss()' aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title">User Data</h3>
</div>
<div class="modal-body">
	<div ng-show='loading'>
		Loading (this could take up to a minute)
	</div>
    <div ng-show='!loading' class='row'>
		<div class='col-md-1'>
			<strong>Votes</strong>
		</div>
		<div class='col-md-2'>
			<strong>Type</strong>
		</div>
		<div class='col-md-9'>
			<strong>Title</strong>
		</div>
	</div>
    <div class='row' ng-repeat='item in votes'>
		<div class='col-md-1'>
			{{item.votes}}
		</div>
		<div class='col-md-2'>
			{{item.type}}
		</div>
		<div class='col-md-9'>
			{{item.title}}
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class='btn btn-primary' ng-click='dismiss()'>Done</button>
</div>